ion-content {
    --backgroud: var(--ion-color-light);
    --color: var(--ion-color-light-contrast);
    --padding-top: 20px;
}

ion-item {
    font-size: 14px;
    color: var(--ion-color-white);
    --backgroud: var(--ion-color-light);

    ion-icon {
        color: var(--ion-color-white);
    }


    &.active {
        color: var(--ion-color-primary);

        ion-icon {
            color: var(--ion-color-primary);
        }
    }




}


h4{
    margin-top: 5px;
    font-weight: bold;

}

.avatar-icon{
    font-size: 100px;
}

ion-avatar{
    width: 120px;
    height: 120px;
    margin: 0 auto;
}

.empty-icon{
    font-size: 100px;

}

ion-menu{
    --width: 254px;
    --min-width: 254px;
    outline: none;
}

